*{
    box-sizing: border-box;
}
.container{
    width: 1210px;
    margin: 0 auto;
}
body{
    background-image: url('../img/body.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkslateblue;
}
/* Автоматический подбор размера сайта */
@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } 
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } 
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} } 
@font-face {
	font-family: 'Pixel-font'; 
	src: url(../fonts/DotGothic16-Regular.ttf); 
}

.header-logo__image{
    width: 200px;
}
.header-logo__link{
    text-decoration: none;
}
.header{
    background-color: rgba(2%, 20%, 34%, 0.7);
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;

}
.header-wrapper{
    padding-top: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}
.nav{
    padding-right: 20px;
    margin-left: 60px;
}
.header-links{
    font-family: Pixel-font;
    text-decoration: none;
    padding: 0px 20px 10px 10px;
    color: darkorange;
}
.header-links:hover{
    font-family: Pixel-font;
    text-decoration: none;
    padding: 0px 20px 10px 10px;
    color: rgb(177, 100, 6);
    border-bottom: 1px solid darkorange ;
}
.header-links:active{
    border-bottom: 1px solid darkorange ;
}
.header-logo__text{
    margin: 0;
    font-size: 30px;
    font-family: Pixel-font;
    color: darkorange;
}

.wellcome-text__title{
    font-family: Pixel-font;
    text-align: center;
    padding-top: 220px;
    color: darkorange;
}
.news{
    padding-bottom: 300px;

}
.block-news__image{
 width: 300px;   
}
.blocks-news{
    margin-top: 100px;
    margin-left: 100px; 
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.block-news{
    padding: 15px 15px;
}
.block-news__title{
    font-family: Pixel-font;
    color: darkorange;
}
.block-news__description{
    font-family: Pixel-font;
    color: white;
}
.block-news__link{
    font-family: Pixel-font;
    text-decoration: none;
    color: yellowgreen;
}
.footer{
    background-color: darkslateblue;
}
.footer-copyriting{
    font-size: 12px;
    margin: 0;
    padding: 10px 0px 20px;
}
.footer-text{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}







